<div class="documentation">
  <h2>More usage examples</h2>
  <!-- EXAMPLE BLOCK -->
  <h3>Custom Trigger</h3>
  <span class="text"
    >The ngx-colors-trigger directive can be apply to any element to make a
    custom trigger</span
  >
  <div class="showcase">
    <app-custom-trigger-example></app-custom-trigger-example>
  </div>
  <app-document-viewer
    [documents]="examples.customtrigger"
  ></app-document-viewer>
  <br />
  <hr />
  <!-- END EXAMPLE BLOCK -->

  <!-- EXAMPLE BLOCK -->
  <h3>Hide some parts of the component</h3>
  <span class="text"
    >You can hide the text input or the Color Picker if want. try playing with
    the toggles here.</span
  >
  <div class="showcase">
    <app-hide-elements-example></app-hide-elements-example>
  </div>
  <app-document-viewer
    [documents]="examples.hideelements"
  ></app-document-viewer>
  <br />
  <hr />
  <!-- END EXAMPLE BLOCK -->

  <!-- EXAMPLE BLOCK -->
  <h3>Custom palette (simple)</h3>
  <p class="text">
    You can provide your own palette with the parameter <b>palette</b>
  </p>
  <p class="text">
    Try adding new colors to the palette using the color picker
  </p>
  <div class="showcase">
    <app-custom-palette-example></app-custom-palette-example>
  </div>
  <app-document-viewer
    [documents]="examples.custompalette"
  ></app-document-viewer>
  <br />
  <hr />
  <!-- END EXAMPLE BLOCK -->

  <!-- EXAMPLE BLOCK -->
  <h3>Change label for the accept/cancel button</h3>
  <p class="text">
    You can change the text of the accept/cancel button above the color picker
    using the attribute <b>acceptLabel</b>/<b>cancelLabel</b>.
  </p>

  <div class="showcase">
    <app-change-label-example></app-change-label-example>
  </div>
  <app-document-viewer [documents]="examples.changelabel"></app-document-viewer>
  <br />
  <hr />
  <!-- END EXAMPLE BLOCK -->
  <!-- EXAMPLE BLOCK -->
  <h3>Using the validator on Reactive Forms</h3>
  <p class="text">
    This library provides a validator to check if a string is a valid color. Try
    putting a incorrect color.
  </p>

  <div class="showcase">
    <app-validator-example></app-validator-example>
  </div>
  <app-document-viewer [documents]="examples.validator"></app-document-viewer>
  <br />
  <hr />
  <!-- END EXAMPLE BLOCK -->
</div>
