.logs {
  width: 250px;
  height: 300px;
  overflow: auto;
  .row:nth-child(even) {
    background-color: white;
  }
  .row:nth-child(odd) {
    background-color: whitesmoke;
  }
  .row {
    display: flex;
    height: 30px;
    display: flex;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .number {
    width: 30px;
    background: #0000000d;
    margin-right: 0.5em;
  }
}

.flex {
  display: flex;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.direction-column {
  flex-direction: column;
}
.mb-4 {
  margin-bottom: 4em;
}
.mr-4 {
  margin-right: 4em;
}
.mb-2 {
  margin-bottom: 2em;
}
.mr-2 {
  margin-right: 2em;
}
