<div class="example-flex-container">
  <ngx-colors
    ngx-colors-trigger
    [hideTextInput]="hideTextInput"
    [hideColorPicker]="hideColorPicker"
    [colorPickerControls]="colorPickerControls"
    [(ngModel)]="color"
  >
  </ngx-colors>
  <mat-slide-toggle [(ngModel)]="hideTextInput"
    >Hide text input</mat-slide-toggle
  >
  <mat-slide-toggle [(ngModel)]="hideColorPicker"
    >Hide color picker</mat-slide-toggle
  >
</div>
<div class="example-flex-container">
  <mat-button-toggle-group
    [(ngModel)]="colorPickerControls"
    [disabled]="hideColorPicker"
  >
    <mat-button-toggle value="default">default</mat-button-toggle>
    <mat-button-toggle value="only-alpha">Only Alpha</mat-button-toggle>
    <mat-button-toggle value="no-alpha">No Alpha</mat-button-toggle>
  </mat-button-toggle-group>
</div>
