app-root{
    font-family: sans-serif;
}
.container{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.main-wrapper{
    transition: 2s;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin:auto;
    height: 300px;
    width:40vw;
    min-width:  600px;
    // background: white;
    border-radius: 3px;
    // box-shadow:0 1px 1px 0 rgba(0,0,0,.2), 0 1px 1px 1px rgba(0,0,0,.14), 0 1px 1px 1px rgba(0,0,0,.12);
}


@media only screen and (max-width: 600px) {
    .main-wrapper{
        min-width: 90vw;
    }
  }
  
.title {
    font-size: 4em;
    font-family: sans-serif;
    text-shadow: rgba(0,0,0,.12);
    text-align: center;
    font-variant-caps: small-caps;
    font-weight: 100;
    letter-spacing: 0.3em;
    max-width: 100vw;
}
.selector-wrapper{
    background: white;
    box-shadow:0 1px 1px 0 rgba(0,0,0,.2), 0 1px 1px 1px rgba(0,0,0,.14), 0 1px 1px 1px rgba(0,0,0,.12);
    padding: 12px 10px 12px 12px;
    border-radius: 50px;
    margin-top: 20px;
    overflow: hidden;
    // max-width: 90vw;
}
.color {
    font-family: sans-serif;
    color: #4a4a4a;
    padding: 6px 10px 4px 10px;
    letter-spacing: 1px;
    line-height: 20px;
}

// .rlink {
//     text-align: right;
//     position: absolute;
//     top:10px; right:10px;
//     .github {
//         display: block;
//         img{
//             width: 100px;
//         }
//     }       
//     .npm {
//         width: 100px;
//         display: inline;
//         padding: 0 8px 0 0;
//         svg{
//             width: 80px;
//             fill:black;
//         }
//     }
// }
.documentation{
    padding: 20px 20px 20px 20px;
    background:#fafafa;
    font-family: inherit;
    color:#404040;
    h2{
        color: #111111;
        letter-spacing: 3px;
        font-variant: all-petite-caps;
    }
    h3{
        color: #111111;
        letter-spacing: 2px;
        font-variant: all-petite-caps;
    }
    .codeblock{
        color:#111111;
        padding: 20px;
        background-color: #e8e8e8;
        width: auto;
        overflow:auto;
        .pl-k{
            color:#673ab7;
        }
        .pl-en{
            color:#2196f3;
        }
        .pl-smi{
            color:#2196f3;
        }
        .pl-pds{
            color:#ef6c00
        }

        .pl-ent {
            color: #22863a;
        }

        .pl-c1, .pl-s .pl-v {
            color: #005cc5;
        }
        .pl-pds, .pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre {
            color: #032f62;
        }

    }
    .exampleblock{
        margin-top:5px;
        padding:10px;
        background-color: #f7f7f7;
    }
    .version-number{
        background: #e6e6e6;
        text-align: center;
        margin: 10px 0px;
        padding: 3px 10px;
        border-radius: 3px;
        display: inline-block;
    }
    .fix{
        width: 5px;
        height: 10px;
        display: inline-block;
        border-radius: 10px;
        margin: 0 5px 0 10px;
        background: #ff80ab;
    }
    .feature{
        width: 5px;
        height: 10px;
        display: inline-block;
        border-radius: 10px;
        margin: 0 5px 0 10px;
        background: #03A9F4;
    }
}
