<div class="container" [style.background]="gradient" >


  <div class="main-wrapper">
    <div class="title">ngx-colors</div>
    <div class="selector-wrapper">
      <ngx-colors ngx-colors-trigger (change)="updateGradient()" style="float:left" [(color)]="leftColor"></ngx-colors>
      <div class="color" style="float:left">{{leftColor}}</div>
      <div class="color" style="float:right">Slide-In animations</div>
    </div>
    <div class="selector-wrapper">
      <!-- <input type="text" [value]="rightColor" ngx-colors-trigger [(color)]="rightColor"> -->
      <ngx-colors ngx-colors-trigger (change)="updateGradient()" style="float:right" [(color)]="rightColor"
        [colorsAnimation]="'popup'"></ngx-colors>
      <div class="color" style="float:right">{{rightColor}}</div>
      <div class="color" style="float:left">Popup animations</div>
    </div>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="OVERVIEW"><div class="documentation">
    <h2>Overview</h2>
    ngx-colors is an angular components that allows users to select a color either through text input(hex, rgba, hsla), by choosing a pre set color from the palette, or from  Hue, Lightness, Alpha sliders.
    <h2>Install & Import</h2>
    <h3>Npm</h3>
    Install dependency 
    <div class="codeblock">
      npm install @angular/animations
    </div>
    <br>
    Install ngx-colors
    <div class="codeblock">
      npm install ngx-colors
    </div>
  
    <h3>Import</h3>
   
    <div class="codeblock"> 
      <pre><span class="pl-k">import</span> {{'{'}} NgxColorsModule {{'}'}} <span class="pl-k">from</span> <span class="pl-s"><span class="pl-pds">'ngx-colors'</span></span>;
  
        @<span class="pl-en">NgModule</span>({{'{'}}
          <span class="pl-k">...</span>
          imports<span class="pl-k">:</span> [
            <span class="pl-k">...</span>
            NgxColorsModule
          ]
        {{'}'}})</pre>
    </div>
  
    <h2>Basic usage</h2>
    <h3>Getting and setting a colors</h3>
    <span class="text">The &lt;ngx-colors&gt; element supports 2-way binding to the color property.</span>
    
    <div class="exampleblock">
    <ngx-colors ngx-colors-trigger style="display: inline-block; margin:5px;" [(color)]="leftColor"></ngx-colors>
    <mat-form-field >
      <input matInput [(ngModel)]="leftColor">
    </mat-form-field>
    </div>
    <div class="codeblock">
      <span class="pl-kos">&lt;</span><span class="pl-ent">ngx-colors</span><span class="pl-c1"> [(color)]</span>="<span class="pl-s">ioColor</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">ngx-colors</span><span class="pl-kos">&gt;</span>
      </div>
      <br>
      <hr>
    <h3>Detecting changes</h3>
    <span class="text">Use the property change to detect changes when the user interact with the color picker</span>
    <div class="codeblock"> 
      <span class="pl-kos">&lt;</span><span class="pl-ent">ngx-colors</span> <span class="pl-c1"> (change)</span>="<span class="pl-s">updateGradient()</span>" <span class="pl-c1"> [(color)]</span>="<span class="pl-s">ioColor</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">ngx-colors</span><span class="pl-kos">&gt;</span>
      </div>
      <br>
      <hr>
    <h3>Output format</h3>
    <div class="codeblock"> 
      no implemented
      </div>
      <br>
      <hr>
    <h3>Disable color slider</h3>
    <div class="codeblock"> 
      no implemented
      </div>
  </div></mat-tab>
  <mat-tab label="API"> Content 2 </mat-tab>
  <mat-tab label="EXAMPLES"> Content 3 </mat-tab>
  <mat-tab label="CHANGELOG">
    <div class="documentation">
      <div *ngFor="let version of versions" >
        <ng-container *ngIf="version.version != 'x.x.x'">
        <div class="version-number">{{version.version}}</div>
        <div *ngFor="let change of version.changelog">
          <div [class]="change.type == 'fix' ? 'fix' : 'feature'"></div><span>{{change.details}}</span>
        </div>
      </ng-container>
    </div>

    </div>
   

  </mat-tab>
</mat-tab-group>







<!-- <div class="rlink">
  <a class="github" href="https://github.com/KroneCorylus/ngx-colors">
    <img src="assets/img/logos/GitHub_Logo.png"></a>
  <a class="npm" href="https://www.npmjs.com/package/ngx-colors">
    <svg viewBox="0 0 780 250">
      <path fill="#231F20"
        d="M240,250h100v-50h100V0H240V250z M340,50h50v100h-50V50z M480,0v200h100V50h50v150h50V50h50v150h50V0H480z M0,200h100V50h50v150h50V0H0V200z">
      </path>
    </svg>
  </a>

</div> -->