app-root {
  font-family: sans-serif;
}
a {
  color: #2196f3;
}
.container {
  height: calc(100vh - 46px);
  overflow: hidden;
  min-height: 400px;
  position: relative;
}

pre {
  margin: 0px;
}

.hljs {
  padding: 1em;
  border-radius: 4px;
}
.main-wrapper {
  transition: 2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 300px;
  width: 40vw;
  min-width: 600px;
  border-radius: 3px;
}
@media only screen and (max-width: 548px) {
  .main-wrapper {
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .main-wrapper {
    min-width: 90vw;
  }
}

.title {
  font-size: 4em;
  font-family: sans-serif;
  text-shadow: rgba(0, 0, 0, 0.12);
  text-align: center;
  font-variant-caps: small-caps;
  font-weight: 100;
  letter-spacing: 0.3em;
  max-width: 100vw;
}
.selector-wrapper {
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 1px 1px rgba(0, 0, 0, 0.12);
  padding: 12px 10px 12px 12px;
  border-radius: 50px;
  margin-top: 20px;
  overflow: hidden;
}
.color {
  font-family: sans-serif;
  color: #4a4a4a;
  font-size: 1em;
  padding: 6px 10px 4px 10px;
  letter-spacing: 1px;
  line-height: 20px;
  float: left;
}
.descripcion {
  font-family: sans-serif;
  color: #4a4a4a;
  font-size: 0.8em;
  padding: 6px 10px 4px 10px;
  letter-spacing: 1px;
  line-height: 20px;
  float: right;
}

@media only screen and (max-width: 475px) {
  .selector-wrapper {
    border-radius: 10px;
    .descripcion {
      float: left;
    }
  }
}

.tab-wrapper {
  position: relative;
}

.matLabel {
  padding: 16px 0px;
  width: 100%;
  // position: absolute;
}
.sitios {
  position: absolute;
  z-index: 1000;
  top: -45px;
  right: 0px;
  height: 50px;
  img {
    width: 65px;
    margin: 10px 5px;
  }
}
// @media (max-width: 599px) {
//     .sitios{
//         top:45px
//     }
// }
