<div class="d-flex">
  <div class="flex-column">
    <table class="pepe">
      <tr>
        <th>Tipo</th>
        <th>ngx-colors</th>
        <th>Value</th>
        <th>Touched</th>
        <th>Dirty</th>
        <th>set value</th>
      </tr>
      <tr>
        <td>Control</td>
        <td>
          <ngx-colors
            ngxColorsTrigger
            [palette]="this.request"
            style=""
            outputModel="HSVA"
            [formControl]="testCtrl"
            (ngModelChange)="logEvent('control', 'ngModelChange', $event)"
            (onSliderChange)="logEvent('control', 'onSliderChange', $event)"
            (onColorHover)="logEvent('control', 'onColorHover', $event)"
          ></ngx-colors>
        </td>
        <td>{{ testCtrl.value }}</td>
        <td>{{ testCtrl.touched }}</td>
        <td>{{ testCtrl.dirty }}</td>
        <td>
          <input #inputCtrl id="testInput" />
          <button (click)="testCtrl.setValue(inputCtrl.value)">aplicar</button>
        </td>
      </tr>
      <tr>
        <td>NgModel</td>
        <td>
          <ngx-colors
            ngxColorsTrigger
            style=""
            [(ngModel)]="test"
            (ngModelChange)="logEvent('ngModel', 'ngModelChange', $event)"
          ></ngx-colors>
        </td>
        <td>{{ test }}</td>
        <td>-</td>
        <td>-</td>
        <td>
          <input #inputModel />
          <button (click)="test = inputModel.value">aplicar</button>
        </td>
      </tr>
    </table>
    <div class="d-flex">
      <button (click)="this.setBlue()">Blue</button>
      <button (click)="this.setRed()">Red</button>
      <button (click)="this.setAlphaRed()">Alpha Red</button>
      <button (click)="this.setUndefined()">Undefined</button>
      <button (click)="this.setRequest('3A02A9')">#3A02A9</button>
      <button (click)="this.setRequest('24B1E0')">#24B1E0</button>
    </div>
    <ngx-colors ngxColorsTrigger layout="full-horizontal"></ngx-colors>
    <ngx-colors ngxColorsTrigger layout="pages"></ngx-colors>
    <ngx-colors ngxColorsTrigger [display]="{ sliders: false }"></ngx-colors>
    <ngx-colors ngxColorsTrigger [display]="{ palette: false }"></ngx-colors>
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true }"
      layout="pages"
    ></ngx-colors>

    <br />
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true, palette: false }"
      layout="pages"
      [lockValues]="{ alpha: undefined }"
    ></ngx-colors>
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true, palette: false }"
      layout="pages"
      [lockValues]="{ hue: 1 }"
    ></ngx-colors>
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true, palette: false }"
      layout="pages"
      [lockValues]="{ brightness: 0.5 }"
    ></ngx-colors>
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true, palette: false }"
      layout="pages"
      [lockValues]="{ saturation: 1 }"
    ></ngx-colors>
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true, palette: false }"
      layout="pages"
      [lockValues]="{ hue: 1, saturation: 0.5 }"
    ></ngx-colors>
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true, palette: false }"
      layout="pages"
      [lockValues]="{ hue: 1, saturation: 0 }"
    ></ngx-colors>
    <br />
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true, palette: true }"
      [allowedModels]="['HEXA', 'RGBA']"
      layout="pages"
      [lockValues]="{ hue: 1, saturation: 0 }"
    ></ngx-colors>
    <br />
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true, palette: true }"
      animation="slide"
      layout="pages"
    ></ngx-colors>
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true, palette: true }"
      animation="popup"
      layout="pages"
    ></ngx-colors>
    <br />
    overlayClass
    <ngx-colors
      overlayClass="_red-overlay"
      ngxColorsTrigger
      [display]="{ text: true, palette: true }"
    ></ngx-colors>
    <ngx-colors
      overlayClass=""
      ngxColorsTrigger
      [display]="{ text: true, palette: true }"
    ></ngx-colors>
    <br />
    <br />
    overlayAttachTo
    <ngx-colors
      overlayAttachTo=""
      ngxColorsTrigger
      [display]="{ text: true, palette: true }"
    ></ngx-colors>
    <ngx-colors
      overlayAttachTo="logger"
      ngxColorsTrigger
      [display]="{ text: true, palette: true }"
    ></ngx-colors>
    <ngx-colors
      [overlayAttachTo]="html"
      ngxColorsTrigger
      [display]="{ text: true, palette: true }"
    ></ngx-colors>
    <br />
    <br />
    labels
    <ngx-colors
      [labels]="{ accept: 'ok', cancel: 'nah' }"
      ngxColorsTrigger
      [display]="{ text: true, palette: true }"
    ></ngx-colors>
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true, palette: true }"
    ></ngx-colors>
    <ngx-colors
      ngxColorsTrigger
      [display]="{ text: true, palette: true }"
    ></ngx-colors>
    <br />
    changeConfig
    <button (click)="this.onClickChangeDisplay()">changeDisplay</button>
    <ngx-colors ngxColorsTrigger [display]="displayOptions"></ngx-colors>
  </div>
  <div
    id="logger"
    style="border: 1px solid gray; padding: 3px; height: 500px; overflow: auto"
  >
    <button (click)="this.clearLog()">clear</button>
    <div class="d-flex flex-column-reverse" [@logIn]="this.events.length">
      <div
        class="d-flex align-items-center magia"
        style="padding: 1px 0"
        *ngFor="let event of this.events"
      >
        <div
          style="
            background: #ffc107;
            padding: 4px 6px;
            border-radius: 4px;
            margin-right: 3px;
          "
        >
          {{ event.who }}
        </div>
        <div
          style="
            background: pink;
            padding: 4px 6px;
            border-radius: 4px;
            margin-right: 3px;
          "
        >
          {{ event.event }}
        </div>
        <div>{{ event.value }}</div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngFor="let event of events">{{event | json}}</div> -->
<!---->
<!-- <div>{{pepe | json}}</div> -->
<!-- <ngx-colors-panel> </ngx-colors-panel> -->
<!-- <ngx-colors-panel> </ngx-colors-panel> -->
<!-- <div style="display: flex; gap: 10px"> -->
<!--   <button (click)="green()">green</button> -->
<!--   <button (click)="blue()">blue</button> -->
<!--   <button (click)="red()">red</button> -->
<!--   <button (click)="undi()">undefined</button> -->
<!--   <div -->
<!--     style=" -->
<!--       width: 220px; -->
<!--       height: 204px; -->
<!--       border: 1px solid black; -->
<!--       margin-top: 10px; -->
<!--     " -->
<!--   > -->
<!--     <ngx-colors-color-picker [(value)]="pepe" (valueChange)="log($event)"> -->
<!--     </ngx-colors-color-picker> -->
<!--   </div> -->
<!--   <div -->
<!--     style=" -->
<!--       width: 250px; -->
<!--       height: 350px; -->
<!--       border: 1px solid black; -->
<!--       margin-top: 10px; -->
<!--     " -->
<!--   > -->
<!--     <ngx-colors-color-picker> </ngx-colors-color-picker> -->
<!--   </div> -->
<!--   <div -->
<!--     style=" -->
<!--       width: 350px; -->
<!--       height: 350px; -->
<!--       border: 1px solid black; -->
<!--       margin-top: 10px; -->
<!--     " -->
<!--   > -->
<!--     <ngx-colors-color-picker> </ngx-colors-color-picker> -->
<!--   </div> -->
<!-- </div> -->
